
    <%- include('./partials/navBar') %>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">MoviesPLEX</h1>
          <p class="lead text-muted">Some of the best movies that one can see over and over again!</p>
          <form action="/movies">
            <label for="filter">Filter movies by genre</label>
            <select name="filter" id="filter">
              <option value="all">All</option>
              <option value="PG">PG</option>
              <option value="PG-13">PG-13</option>
              <option value="R">R</option>
            </select>
            <input type="submit" name="" id="">
          </form>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% for(let i = 0; i<movies.length; i++){ %>
            <div class="col">
            <div class="card shadow-sm">
              <img src=<%= movies[i].poster %> alt=""> 
              <div class="card-body">
                <h3 class="card-text"><%= movies[i].title %></h3>
                <p>IMDB: <%= (movies[i].rating).toFixed(1) %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/movies/<%= movies[i]._id %>"><button type="button" class="btn btn-sm btn-success">View</button></a>
                    <a href="/movies/<%= movies[i]._id %>/edit"><button type="button" class="btn btn-sm btn-warning">Edit</button></a>
                    <form action="/movies/<%= movies[i]._id%>?_method=DELETE" method="post">
                      <button class="btn btn-sm btn-danger position-end">Delete</button>
                    </form>
                  </div>
                  <a href="/movies/tickets/<%= movies[i]._id %>"><button type="button" class="btn btn-sm btn-primary">Buy Tickets</button></a>
                </div>
              </div>
            </div>
          </div>
          <% }; %>
          </div>
        </div>
      </div>
    </div>
  
</body>
</html>