<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
    <title>Edit <%= editMovie.title %></title>
</head>
<body>
  <%- include('./partials/navBar') %>
      
      <form action="/movies/<%= editMovie._id %>?_method=PATCH" method="post" class="mx-5">
        <h1>Edit movie</h1>
        <div class="mb-3 mx-5 col-lg-6 col-md-6" >
            <label for="movieTitle">Enter a movie title: </label>
            <input type="text" class="form-control" name="title" id="movieTitle" required value="<%= editMovie.title %>">
        </div>
        <div class="mb-3 mx-5 col-lg-3 col-md-4 col-sm-6" >
            <label for="movieYear">Enter year of production: </label>
            <input type="number" class="form-control" name="year" id="movieYear" min="1900" max="2024" placeholder="1900" required value="<%= editMovie.year %>">
        </div>
        <div class="mb-3 mx-5 col-lg-3 col-md-4 col-sm-6">
            <label for="movieRating">IMDB Rating: </label>
            <input type="number" class="form-control" name="rating" id="movieRating" min="0" max="10" step="0.1" placeholder="0" value="<%= editMovie.rating %>">
        </div>
        <div class="mb-3 mx-5 col-lg-6 col-md-6" >
            <label for="moviePoster">Enter a movie poster URL address: </label>
            <input type="text" class="form-control" name="poster" id="moviePoster" required value="<%=editMovie.poster %>">
        </div>
        <div class="mb-3 mx-5 col-lg-6 col-md-6" >
            <label for="movieDirector">Enter the Director's name: </label>
            <input type="text" class="form-control" name="director" id="movieDirector" required value="<%= editMovie.director %>">
        </div>
        <div class="mb-3 mx-5 col-lg-6 col-md-6" >
            <p>Enter cast names</p>
            <label for="movieCast-1">Enter Cast 1 </label>
            <input type="text" class="form-control" name="cast" id="movieCast-1" required value="<%= editMovie.cast[0] %>">
            <label for="movieCast-1">Enter Cast 2</label>
            <input type="text" class="form-control" name="cast" id="movieCast-1" required value="<%= editMovie.cast[1] %>">
            <label for="movieCast-1">Enter Cast 3 </label>
            <input type="text" class="form-control" name="cast" id="movieCast-1" required value="<%= editMovie.cast[2] %>">
            <button class="btn btn-primary mt-5">Submit Movie</button>
        </div>

      </form>
</body>
</html>