
  <%- include('./partials/navBar') %>

    <div class="container mt-5">
        <div class="row">
          <!-- Image column -->
          <div class="col-md-6">
            <img src="<%= showMovie.poster %>" alt="Placeholder Image" class="img-fluid">
          </div>
          <!-- Text column -->
          <div class="col-md-6">
            <h1><%= showMovie.title %> (<%= showMovie.year %>)</h1>
            <p><strong>IMDB rating: </strong><%= (showMovie.rating).toFixed(1) %></p>
            <p><strong>Director: </strong><%= showMovie.director %></p>
            <p><strong>Cast: </strong></p>
            <% for(let i = 0; i<(showMovie.cast).length; i++){ %>
                <p><%= showMovie.cast[i]%></p>
            <% } %>
            <p><strong>Showtimes: </strong></p>
            <% for(let i = 0; i<(showMovie.showtimes).length; i++){ %>
              <p><%= showMovie.showtimes[i]%></p>
            <% } %>
            <p><strong>Genre: </strong><%= showMovie.genre %></p>
            <p><strong>Age Rating: </strong><%= showMovie.ageRating %></p>
            <p><strong>Description: </strong><%= showMovie.description %></p>
            <a href="/movies/tickets/<%= showMovie._id %>"><button type="button" class="btn btn-lg btn-primary">Buy Tickets</button></a>
          </div>
        </div>
      </div>
    
</body>
</html>