<%- include("./partials/navBar") %>
<form action="/movies/tickets" method="post" class="mx-5">
    <h1>Book your ticket for <%= movie.title %></h1>
    <div class="mb-3 mx-5 col-lg-6 col-md-6" >
        <img src="<%= movie.poster%>" alt="" class="img-fluid" width="150px">
    </div>
    <div class="mb-3 mx-5 col-lg-6 col-md-6">
        <label for="showtime">Select showtime: </label>
        <select name="showtime" id="showtime" class="form-control mb-3 col-lg-3 col-md-4 col-sm-6">
            <% for(let i = 0; i < movie.showtimes.length; i++) {%>
                <option value="<%= movie.showtimes[i] %>"><%= movie.showtimes[i] %></option>
            <% } %>
        </select>
    </div>
    <div class="mb-3 mx-5 col-lg-6 col-md-6" >
        <label for="seatNumber">Select seat number: </label>
        <input type="number" class="form-control" name="seatNumber" id="seatNumber" min="1" max="30" required>
    </div>
    <div class="mb-3 mx-5 col-lg-6 col-md-6" >
        <label for="customerName">Enter your name: </label>
        <input type="text" class="form-control" name="customerName" id="customerName" required>
    </div>
    <div class="mb-3 mx-5 col-lg-6 col-md-6" >
        <label for="customerEmail">Enter your email: </label>
        <input type="email" class="form-control" name="customerEmail" id="customerEmail" required>
    </div>
    <div class="mb-3 mx-5 col-lg-6 col-md-6" >
        <input type="hidden" name="movieId" id="movieId" value="<%= movie._id %>">
        <input type="hidden" name="movieTitle" id="movieTitle" value="<%= movie.title %>">
        <input type="submit" name="" id="" class="btn btn-primary" value="Book Ticket">
        <a href="/movies" class="btn btn-secondary">Cancel</a>
        <br>
    </div>


</form>
</body>
</html>